.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.FileInput{
  background-color: rgb(226, 225, 225);
}
.ParametersInput{
  background-color: yellow;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.PromptInput{
  width: 100%;
  height: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

.appContent{
  display: flex !important;
  flex-direction: row;
}


.parameterInput{
  display: flex;
  justify-content: space-around;
  align-self: center;
  background-color: rgba(139, 155, 139, 0.19);
}